  <script src="scripts.js" charset="utf-8"></script>

<div class="dayPageBanner">
  <h1 class="dayPageBox__title">{{(dayToDisplay | async)?.title}}</h1>
</div>

<div class="dayPageBox">

  <h5 class="dayPageBox__date">{{(dayToDisplay | async)?.date}}</h5>
  <h5 class="dayPageBox__author">{{(dayToDisplay | async)?.author}}</h5>
  <hr class="hrWidth">
  <h2 class="dayPageBox__scriptureTitle">Scripture</h2>
  <p class="dayPageBox__scripture">{{(dayToDisplay | async)?.scripture}}</p>
  <h5 class="dayPageBox__verse">{{(dayToDisplay | async)?.verse}}</h5>
  <h2 class="dayPageBox__devotionTitle">Devotion</h2>
  <p class="dayPageBox__devotion">{{(dayToDisplay | async)?.devotion}}</p>
  <h2 class="dayPageBox__prayerTitle">Prayer</h2>
  <p class="dayPageBox__prayer italic">{{(dayToDisplay | async)?.prayer}}</p>

</div>


<!-- <div *ngFor="let section of jcfast | async" (click)="showStuff(section)" class="">
  <h1>{{section.title}}</h1>
</div> -->
