.dayPageBox {
  width: 90%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.dayPageBox .hrWidth {
  width: 25px;
  height: 1px;
  border: none;
  background-color: #000;
  margin-left: none !important;
  margin-right: none !important;
}
