$button-black: rgb(52, 52, 53);
$background-color: #fff;

$uniform-width: 500px;
$hover-delay: 125ms;
$extra-space: 12px;

// Media Queries ----------------------------

$mobile: "screen and (max-width: 445px)";
$mobile-roof: "screen and (min-width: 446px)";
$tablet: "screen and (max-width: 770px)";
$tablet-roof: "screen and (min-width: 771px)";
