$button-black: rgb(52, 52, 53);
$background-color: #fff;
$slight-shadow: rgba(0, 0, 0, 0.15);

$uniform-width: 500px;
$hover-delay: 125ms;
$extra-space: 12px;

// Media Queries ----------------------------

$mobile: "screen and (max-width: 480px)";
$mobile-roof: "screen and (min-width: 481px)";
$tablet: "(max-width: 810px)";
$tablet-roof: "screen and (min-width: 811px)";
$footer-reasemble: "screen and (max-width: 690px)";
$footer-reasemble-roof: "screen and (min-width: 691px)";

// 575px
